/* @media screen and (min-width: 1500px) {
  .logo {
    margin-left: 15rem;
  }
  .nav-list {
    display: flex;
    padding-right: 7rem;
    gap: 10rem;
  }
  .hero-text {
    margin-left: 60rem;
  }
  .button {
    margin: 0 47rem;
  }
  .btn-submit;
} */
